* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.memory-game__card:active {
  transform: scale(.97);
  transition: transform .1s;
}

.memory-game__card.flip {
  transform: rotateY(180deg)
}